<div class="ui menu inverted borderless attached">
	<div class="header item">
		Piattaforma ASL
	</div>
	<div class="right menu">
		<div class="ui dropdown item">
			<span style="margin-right: 10px; font-weight: bolder">User Name</span>
			<img src="assets/user.png" style="height: 24px; width: 24px;" class="ui circular image" />
			<i class="dropdown icon"></i>
			<div class="menu">
				<div class="item">example@email.com</div>
				<div class="item"><i class="setting icon"></i>Profilo</div>
				<div class="item"><i class="privacy icon"></i>Cambia password</div>
				<div class="divider"></div>
				<div class="item"><i class="sign out icon"></i>Logout</div>
			</div>
		</div>
	</div>
</div>
