<script src="script.js"></script>
<table class="ui celled table unstackable">
	<thead>
		<tr>
			<th colspan="3">
				<div class="ui right floated small primary labeled icon button">
					<i class="add icon"></i>
					Aggiungi studente
				</div>
			</th>
		</tr>
		<tr>
			<th>Studente</th>
			<th>Header</th>
			<th>Header</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Cell</td>
			<td>Cell</td>
			<td>Cell</td>
		</tr>
		<tr>
			<td>Cell</td>
			<td>Cell</td>
			<td>Cell</td>
		</tr>
		<tr>
			<td>Cell</td>
			<td>Cell</td>
			<td>Cell</td>
		</tr>
	</tbody>
</table>
