<link rel="stylesheet" href="style.css"/>
<script src="init.js"></script>

<div class="pushable">
	<div class="ui sidebar">
		<navigation-menu></navigation-menu>
	</div>

	<div class="ui grid fill no-spacing pusher">
		<div class="row">
			<navigation-menu class="full-height three wide computer column tablet or lower hidden">
			</navigation-menu>
			<div class="thirteen wide computer sixteen wide mobile column">
				<app-bar>
					<prepend>
						<a id="sidebar-trigger" class="launch icon item mobile tablet only ">
							<i class="content icon"></i>
						</a>
					</prepend>
				</app-bar>

				<div class="main-area fill">

				</div>
			</div>
		</div>
	</div>
</div>
