<script src="form.js"></script>

<div class="ui grid no-spacing fill">
	<div class="sixteen column wide center aligned">
		<h2 class="ui teal image header">
			<div class="content">
				Accedi a *
			</div>
		</h2>
		<form class="ui large form" method="post">
			<div class="ui segment">
				<div class="field">
					<div class="ui left icon input">
						<i class="user icon"></i>
						<input type="text" name="email" placeholder="Indirizzo email">
					</div>
				</div>
				<div class="field">
					<div class="ui left icon input">
						<i class="lock icon"></i>
						<input type="password" name="password" placeholder="Password">
					</div>
				</div>
				<div class="ui fluid large teal submit button">Login</div>
			</div>
			<div class="ui error message"></div>
		</form>
	</div>
</div>
